body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e4e4e4;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
}
h1 {
    font-weight: 700;
    font-size: 64pt;
    text-align: center;
}
.swift {
    color: #f74d37;
}
